#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    max-width: 375px;
    border-radius:15px ;
    overflow: hidden;

}
body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#keys{
    display: grid;
    grid-template-columns:repeat(4,75px);
    gap: 10px;
    padding: 25px;
    
}
#display{
    width:100% ;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50px);
}
.oprator-button{
    background-color: hsl(35, 100%, 55%);
}
.oprator-button:hover{
    background-color: hsl(35, 100%, 65%);
}